---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$background-image-url: url('{{ site.baseurl }}/assets/images/bg.gif');

body {
  background-image: $background-image-url;
}

h1 {
  color: magenta;
  font-family: "Papyrus";
}
